<b>Guests In All Rooms</b>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" routerLink="/report1">Room Status Report</a></li>
          <li><a class="nav-link" routerLink="/report2">Guests in Individual Rooms</a></li>
          <li><a class="nav-link" routerLink="/report3">Guests in All Rooms</a></li>
          <li><a class="nav-link" routerLink="/report4">Room Occupancy Report</a></li>
	  <li><a class="nav-link" routerLink="/staffreport">Staff Housekeeping Report</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<table>
  <style>

    table, th, td {
      border: 1px solid black;
	  font-size:20px;
    }
  </style>
  <thead>
  <th>Guests</th>
  </thead>
  <tbody>
    <tr>
      <td>
        Sushi
        <a routerLink="/reportuser"><button> View details ></button></a>
      </td>
    </tr>
    <tr>
      <td>
        ely_eeeee
        <a routerLink="/reportuser"><button> View details ></button></a>
      </td>
    </tr>
    <tr>
      <td>
        Boon Keng
        <a routerLink="/reportuser"><button> View details ></button></a>
      </td>
    </tr>
    <tr>
      <td>
        Teh Jun Heng
        <a routerLink="/reportuser"><button> View details ></button></a>
      </td>
    </tr>
  </tbody>
</table>
