<b>Guests in All Rooms</b>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
<div class="container-fluid">
 <div class="navbar-header">
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
 <ul class="nav navbar-nav">
 <li><a class="nav-link" routerLink="/report1">Room Status Report</a></li>
 <li><a class="nav-link" routerLink="/report2">Guests in Individual Rooms</a></li>
  <li><a class="nav-link" routerLink="/report3">Guests in All Rooms</a></li>
   <li><a class="nav-link" routerLink="/report4">Room Occupancy Report</a></li>
 </ul>
 </div>
 </div>
 </div>
</nav>

<b>Guests - Sushi</b>
<table>
<style>
table, th, td
{
border:1px solid black;
}
</style>
<thead>
<th>Name</th>
<th>Gender</th>
<th>Phone Number</th>
<th>Nationality</th>
<th>Room number</th>
<th>Preferences/etc</th>
</thead>
<tbody>
<tr>
<td>sushi</td>
<td>female</td>
<td>1234 1234</td>
<td>Malaysian</td>
<td>101</td>
<td>atago</td>
</tr>
</tbody>
</table>

