<b>Staff Housekeeping Report</b>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" routerLink="/report1">Room Status Report</a></li>
          <li><a class="nav-link" routerLink="/report2">Guests in Individual Rooms</a></li>
          <li><a class="nav-link" routerLink="/report3">Guests in All Rooms</a></li>
          <li><a class="nav-link" routerLink="/report4">Room Occupancy Report</a></li>
		  <li><a class="nav-link" routerLink="/staffreport">Staff Housekeeping Report</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<table>
<style>
table, th, td
{
border:1px solid black;
font-size:20px;
}
</style>
<thead>
<th>ID</th>
<th>Name</th>
<th>Workload</th>
<th>Working Hours</th>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Boon Keng</td>
<td>Cleaning the toilet</td>
<td>3 Hr</td>
</tr>
<tr>
<td>2</td>
<td>Kai</td>
<td>Room cleaning</td>
<td>12 Hr</td>
</tr>
<tr>
<td>3</td>
<td>Antonia Qi</td>
<td>Manangement</td>
<td>12 Hr</td>
</tr>
</tbody>
</table>