<b>Staff Information</b>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
<div class="container-fluid">
 <div class="navbar-header">
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
 <ul class="nav navbar-nav">
 <li><a class="nav-link" routerLink="/staffloginuser">Staff user</a></li>
 <li><a class="nav-link" routerLink="/staffloginadmin">Staff Login admin</a></li>
  <li><a class="nav-link" routerLink="/staffinformation">Staff Information</a></li>
   <li><a class="nav-link" routerLink="/staffduty">Staff On Duty</a></li>
 </ul>
 </div>
 </div>
 </div>
</nav>

<b>Staff Attendance</b>

<table>
<style>
table, th, td
{
border:1px solid black;
font-size:20px;
}
</style>
<thead>
<th>ID</th>
<th>Name</th>
<th>Amount of sick leave applied</th>
<th>Amount of sick leaves without MC left</th>
<th>Amount of hours worked</th>
<th>Current Status</th>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Boon Keng</td>
<td>2</td>
<td>2</td>
<td>500</td>
<td>CURRENTLY A MRT STATION</td>
</tr>
<tr>
<td>2</td>
<td>Kai</td>
<td>3</td>
<td>3</td>
<td>500</td>
<td>Alive</td>
</tr>
<tr>
<td>3</td>
<td>Antonio Qi</td>
<td>2</td>
<td>2</td>
<td>500</td>
<td>CURRENTLY A MRT STATION</td>
</tr>
</tbody>
</table>

